@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Domestic Cooking Gas Monitoring System</h1>
    <p class="lead">Welcome to your Domestic cooking Gas Monitoring System.</p>
</div>

